html
    head 
        title Mi primera pagina con express 
    body    
        h1!= hola
        - var arreglo = [1,2,3,4,5];
        - for(var i = arreglo.length - 1;i >= 0; i-- )
            p.
                Hola has click en #[a(href="www.google.com") este link] por fav
        p!= "esto es una bosta"
        
        each item in arreglo 
            case item
                when 1
                    p El item era uno
                when 2
                    p El item era dos
                default
                    p!= "Era otro item " + item 
        

        